.texh-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.css-wz7diq {
  -webkit-text-decoration: none  !important;
  text-decoration: none !important;
  color: black !important;
  display: flex !important;
  align-items: center !important;
}
.css-1b6szes {
  -webkit-text-decoration: none  !important;
  text-decoration: none !important;
  color: black !important;
  display: flex !important;
  align-items: center !important;
}


@media (max-width: 768px) {
  .footer {
    margin-top: 75px !important;
  }
  .css-11b7obe {
    /* display: grid; */
    /* grid-gap: 8px; */
    /* grid-template-columns: 8fr 2fr; */
    padding: 2px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    margin-top: 64px !important;
    width: 82% !important;
}
.css-od0rku {
  display: flex !important;
  flex-direction: row !important;
}
}
.custom-img {
  width: 230px !important;
   height: 100px !important;
}
.info-box {
  background-color: #f5f6f8;
}
.mainNme {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-decoration: none;
}
/* Cover Imagage */
#frnt-img {
  border-radius: 155px;
}
/* img outside */
#img-outside {
  border-radius: 155px;
  padding: 6px;
}
.crc {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 15px;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #567387;
}
#abc {
  color: black;
  margin: 8px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.abtMe {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.contacts {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
/* Project Section */
#proj-fnt {
  font-family: 'Montserrat', sans-serif;
}
#proj-nme {
  font-family: 'Montserrat', sans-serif;
  font-size: '60px';
  font-weight: bolder;
}

/* Education */
#edu {
  border-radius: 180px;
}
#edu-name {
  font-family: 'Montserrat', sans-serif;
}
#edu-para {
  font-family: 'Montserrat', sans-serif;
}

/* WHAT I KNOW */
.win {
  font-family: 'Montserrat', sans-serif;
}

/* CV BUTTON */
.cv {
  font-family: 'Montserrat', sans-serif;
}
